<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663245605154-pfu8rdhbob5m1fet7jao6g9cn6t0rs3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663245605154-pfu8rdhbob5m1fet7jao6g9cn6t0rs3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCM-8cNN9_oQKk9FU0leUES0n3keTXF2aA</string>
	<key>GCM_SENDER_ID</key>
	<string>663245605154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.driver.goplace</string>
	<key>PROJECT_ID</key>
	<string>goplacedriver</string>
	<key>STORAGE_BUCKET</key>
	<string>goplacedriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663245605154:ios:a27eb3387e2d187b91bd7b</string>
</dict>
</plist>